*.sh text eol=lf
*.md text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.gitignore text eol=lf
Makefile text eol=lf
mvnw text eol=lf
*.cmd text eol=crlf
